<h3 class="mb-4">Search wallet</h3>

<form class="form-inline mb-5" (submit)="search()" #form="ngForm">
  <input type="text" class="form-control form-control-lg mr-sm-2" name="name" [(ngModel)]="name" required placeholder="Typ a name...">

  <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">Search</button>
</form>

<app-wallet *ngIf="lastQuery" [name]="lastQuery"></app-wallet>


