<h3 class="mb-4">Create transaction</h3>

<form #form="ngForm" (submit)="submit()">
  <div class="form-group">
    <label for="from">From</label>
    <input type="text" name="from" [(ngModel)]="newTransaction.from" required class="form-control form-control-lg" id="from" placeholder="From">
  </div>
  <div class="form-group">
    <label for="to">To</label>
    <input type="text" name="to" [(ngModel)]="newTransaction.to" required class="form-control form-control-lg" id="to" placeholder="To">
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" name="amount" [(ngModel)]="newTransaction.amount" required class="form-control form-control-lg" id="amount" placeholder="Amount">
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="form.pristine || form.invalid">Save</button>
</form>
