/* Application-wide Styles */
@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
